body {
    background-color: #090909;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

null {
    width: 100%;
    height: min(90px, 9vh);
}

error,
msg {
    color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 1;
    padding: 1%;
    width: 50%;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 150;
}

error {
    background-color: #ff3b3b;
}

msg {
    background-color: #016bff;
}

error.hidden,
msg.hidden {
    opacity: 0;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
}

load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #202020c3;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2%;
    font-size: 200%;
    transition: all 0.5s ease;
    opacity: 1;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

load img {
    filter: invert(1);
    width: 10vw;
    animation: loading 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


load.hidden {
    opacity: 0;
}