body {
    background-color: #090909;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

null {
    width: 100%;
    height: max(60px, 9vh);
}

error {
    color: #FFFFFF;
    background-color: #ff3b3b;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 1;
    padding: 1%;
    width: 50%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 150;
}

error.hidden {
    opacity: 0;
    top:-5%;
    left: 50%;
    transform: translateX(-50%);
}